.picture {
  max-width: 50%;
}

.wrapper {
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.breed {
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  color: whitesmoke;
  margin-bottom: 6vh;
}

.description {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 4vh;
}

.temperament-span {
  font-weight: 600;
  color: white;
}

.wiki-ref {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  transition: text-decoration 1s ease-;
}

.wiki-ref:hover {
  color: white;
  text-decoration: underline;
}
